// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-container {
  padding-top: 70px;
}

.navbar-default {
  border: none;
  color:#777;
  display: inline-block;
  text-align: center;
  position:fixed;
}

.navbar-nav{
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: inline-block;
  float:none;
  font-size: 1em;
  font-weight: bold;
}

.nav-pills {
  padding-bottom: 15px;
  padding-top: 15px;
  a {
    background-color: white;
  }
}

ul.pagination {
  margin-top: 5px;
}

.navbar-brand {
  font-size: 25px;
}

.badge {
  color: #f8f8f8;
  background-color: #f8f8f8;
}
.list-group-item {
  background-color: #f8f8f8;
}
.add-res-bot {
  margin-bottom: 25px;
}

.btn-top {
  margin-top:  8px;
  margin-right:  20px;
}

textarea { resize: vertical; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  margin: auto auto;
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
